aside {
  position: fixed;
  width: 220px;
  height: 100%;
  overflow-y: auto;

  background: #303F9F;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);

  @media (max-width: 767px) {
    width: 300px;
    transform: translate3d(-300px, 0, 0);
  }
}

.sources {
  a {
    position: relative;

    display: block;
    padding: 10px;

    color: #C5CAE9;
    cursor: pointer;

    &.active, &:hover {
      span {
        margin-bottom: 0;
      }
      span:after {
        content: '';
        position: relative;
        display: block;

        top: -3px;
        width: 100%;
        height: 2px;
        background: #FF4081;
      }
    }
    img {
      width: 30px;
      max-height: 30px;
      margin-right: 10px;

      @media (max-width: 767px) {
        width: 40px;
        max-height: 40px;
      }
    }

    span {
      display: inline-block;
      overflow: hidden;

      width: 139px;
      line-height: 30px;
      margin-bottom: 2px;

      vertical-align: top;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (max-width: 767px) {
        width: 220px;
        font-size: 18px;
      }
    }
  }
}