html {
  transition: .5s ease-in-out;

  @media (max-width: 767px) {
    &.menuOpened {
      position: fixed;
      overflow: hidden;
      height: 100%;
      transform: translate3d(300px, 0, 0);
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #101010;
}

section {
  height: 100%;
}

#nav {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 45px;
  transform: scale(0.5) rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

#nav span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.menuOpened #nav span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.menuOpened #nav span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.menuOpened #nav span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 200px;

  background: rgba(48, 63, 159, 0.95);

  @media (max-width: 767px) {
    left: 0;
  }
  img {
    width: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

footer {
  padding: 10px 0;
  background: #f1f1f1;
  text-align: center;

  a {
    color: #303F9F;
    text-decoration: none;
  }

}

.btn-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #303F9F;
  .start {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    font-size: 20px;
    padding: 15px 25px;

    border: none;
  }
}

@import "menu";
@import "news";