html {
  transition: .5s ease-in-out; }
  @media (max-width: 767px) {
    html.menuOpened {
      position: fixed;
      overflow: hidden;
      height: 100%;
      transform: translate3d(300px, 0, 0); } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #101010; }

section {
  height: 100%; }

#nav {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 45px;
  transform: scale(0.5) rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer; }
  @media (min-width: 768px) {
    #nav {
      display: none; } }

#nav span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.menuOpened #nav span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px; }

.menuOpened #nav span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.menuOpened #nav span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px; }

.spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 200px;
  background: rgba(48, 63, 159, 0.95); }
  @media (max-width: 767px) {
    .spinner {
      left: 0; } }
  .spinner img {
    width: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }

footer {
  padding: 10px 0;
  background: #f1f1f1;
  text-align: center; }
  footer a {
    color: #303F9F;
    text-decoration: none; }

.btn-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #303F9F; }
  .btn-overlay .start {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 15px 25px;
    border: none; }

aside {
  position: fixed;
  width: 220px;
  height: 100%;
  overflow-y: auto;
  background: #303F9F;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }
  @media (max-width: 767px) {
    aside {
      width: 300px;
      transform: translate3d(-300px, 0, 0); } }

.sources a {
  position: relative;
  display: block;
  padding: 10px;
  color: #C5CAE9;
  cursor: pointer; }
  .sources a.active span, .sources a:hover span {
    margin-bottom: 0; }
  .sources a.active span:after, .sources a:hover span:after {
    content: '';
    position: relative;
    display: block;
    top: -3px;
    width: 100%;
    height: 2px;
    background: #FF4081; }
  .sources a img {
    width: 30px;
    max-height: 30px;
    margin-right: 10px; }
    @media (max-width: 767px) {
      .sources a img {
        width: 40px;
        max-height: 40px; } }
  .sources a span {
    display: inline-block;
    overflow: hidden;
    width: 139px;
    line-height: 30px;
    margin-bottom: 2px;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media (max-width: 767px) {
      .sources a span {
        width: 220px;
        font-size: 18px; } }

section {
  margin-left: 220px;
  background: #f1f1f1; }
  @media (max-width: 767px) {
    section {
      margin-left: 0; } }

.sourceHeader {
  padding: 0 10px 20px 10px;
  margin-bottom: 30px;
  background: #3F51B5;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16), 0 0 6px 0 rgba(0, 0, 0, 0.23); }
  .sourceHeader h1 {
    margin: 0;
    padding: 10px 0;
    color: #FFFFFF; }
    @media (max-width: 767px) {
      .sourceHeader h1 {
        padding-left: 70px; } }
  .sourceHeader span {
    color: #C5CAE9; }

.newsWrapper {
  padding-bottom: 30px;
  overflow: hidden; }

.newsItem {
  overflow: hidden;
  box-sizing: border-box;
  float: left;
  width: calc(50% - 40px);
  margin: 0 20px;
  padding-right: 10px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .newsItem:nth-child(2n+1) {
    clear: both; }
  .newsItem:not(:last-of-type) {
    margin-bottom: 30px; }
  .newsItem:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media (max-width: 1000px) {
    .newsItem {
      float: none;
      width: calc(100% - 20px);
      margin: 0 10px; } }
  .newsItem img {
    float: left;
    width: 150px; }
    @media (max-width: 767px) {
      .newsItem img {
        width: 100px; } }
  .newsItem .newsDescription {
    margin: 0 0 10px 150px;
    padding-left: 20px; }
    @media (max-width: 767px) {
      .newsItem .newsDescription {
        margin-left: 100px; } }
  .newsItem h4 {
    padding: 10px 0 10px 20px;
    margin: 0 0 0 150px; }
    @media (max-width: 767px) {
      .newsItem h4 {
        margin: 0 0 0 100px; } }
    .newsItem h4 a {
      color: #303F9F;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map*/